entrypoint = "main.py"
modules = ["python-3.11:v14-20231207-2f65342"]
run = "python main.py"
hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 7860
externalPort = 80
exposeLocalhost = true
